 * {
            margin: 0%;
            padding: 0%;
        }
        @keyframes lala {
          
  0% {
    transform: rotateZ(0deg) scale(1);
  }
  50% {
    transform: rotateZ(180deg) scale(1.18);
  }
  100% {
    transform: rotateZ(360deg) scale(1);
  }
}

            
        

        header {
            background-color: black;
            text-align: center;
            padding: 20px;
            position: sticky;
            top: 0px;
            z-index: 1;
            height: 80px;




        }
        img{
            position: relative;
            right: 460px;
            bottom: 20px;
        }
        .no{
            position: absolute;
           
            bottom:50px;
            left: 595px;
            scale: 1.02;
            transform: scaleX(0.9);
        
        }

        a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 10px;
            margin: 30px;
            
            position: relative;
            bottom: 43px;
            right: 66px;
            
            transition: 0.4s ease-in-out;
            display: inline-block;
            

        }

        a:hover {
            background-color: rgb(0, 0, 0);
            border-radius: 8px;
            transition: 0.3s ease-in-out;
           
            transform: scale(1.14);
            
        }
        a:hover:active{
            transition: 0.21s ease-in-out;
            transform: scale(0.7);
        }
        .boxes{
            display: flex;
            flex-wrap: wrap;
            flex-flow: row wrap;
        }

        .box {

            height: 90vh;
            width: 70vh;
            margin: 15vh;
            position: relative;
            bottom: 70px;
            left: 30px;
            background-color: white;
            border-radius: 6px;
            transition: 0.4s ease-out;

        }

        .box:hover {
            box-shadow: 0px 0px 8px 5px rgb(192, 190, 190);
            transition: 0.4s ;
            transform: scale(1.02);
            
        }

        .box1 {
            text-align: center;

        }

        h1 {
            border: 2px black;
            background-color: white;
            display: inline-block;
            padding: 100px;
            position: relative;
            bottom: 100px;
            width: 40vw;
            border-radius: 90px;
             transition: 0.4s ease-out;

        }

        h1:hover {
            box-shadow: 0px 0px 8px 5px rgb(192, 190, 190);
            transition: 0.4s;
            transform: scale(1.03);
        }

        .smile {
            position: fixed;
            left: 92vw;
            top: 80vh;
            animation-name: lala;
            animation-iteration-count: infinite;
            animation-duration: 6S;
            animation-delay: 0ms;
            animation-direction: normal;
            animation-timing-function:linear;
        
        }

        main {
            background-color: rgb(231, 232, 232);


        }

        footer {
            background-color: black;
            color: azure;
            padding: 30px;
            text-align: center;
        }
